<div>
    <h2 id="page-heading">
        <span>Observations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-observation" [routerLink]="['/observation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Observation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="observations?.length === 0">
        <span>No observations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="observations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Phenomenon Time</span></th>
                    <th scope="col" ><span>Result</span></th>
                    <th scope="col" ><span>Result Time</span></th>
                    <th scope="col" ><span>Property</span></th>
                    <th scope="col" ><span>Unit</span></th>
                    <th scope="col" ><span>Assemblyline</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let observation of observations ;trackBy: trackId">
                    <td><a [routerLink]="['/observation', observation.id, 'view']">{{ observation.id }}</a></td>
                    <td>{{ observation.phenomenonTime | date:'medium' }}</td>
                    <td>{{ observation.result }}</td>
                    <td>{{ observation.resultTime | date:'medium' }}</td>
                    <td>{{ observation.property }}</td>
                    <td>{{ observation.unit }}</td>
                    <td>
                        <div *ngIf="observation.assemblylineId">
                            <a [routerLink]="['/assembly-line', observation.assemblylineId , 'view']" >{{ observation.assemblylineName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/observation', observation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/observation', observation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(observation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
