<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-record-heading">Create or edit a Record</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dailyOutput">Daily Output</label>
                    <input type="number" class="form-control" name="dailyOutput" id="field_dailyOutput"
                           formControlName="dailyOutput"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_resultTime">Result Time</label>
                    <div class="d-flex">
                        <input id="field_resultTime" type="datetime-local" class="form-control" name="resultTime" formControlName="resultTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('resultTime')!.invalid && (editForm.get('resultTime')!.dirty || editForm.get('resultTime')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('resultTime')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('resultTime')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_product">Product</label>
                    <select class="form-control" id="field_product" name="product" formControlName="productId">
                        <option *ngIf="!editForm.get('productId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="productOption.id" *ngFor="let productOption of products; trackBy: trackById">{{ productOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('productId')!.invalid && (editForm.get('productId')!.dirty || editForm.get('productId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('productId')?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
