<div>
    <h2 id="page-heading">
        <span>Material Stocks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-material-stock" [routerLink]="['/material-stock/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Material Stock
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="materialStocks?.length === 0">
        <span>No materialStocks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="materialStocks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Quantity</span></th>
                    <th scope="col" ><span>Unit</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let materialStock of materialStocks ;trackBy: trackId">
                    <td><a [routerLink]="['/material-stock', materialStock.id, 'view']">{{ materialStock.id }}</a></td>
                    <td>{{ materialStock.quantity }}</td>
                    <td>{{ materialStock.unit }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/material-stock', materialStock.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/material-stock', materialStock.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(materialStock)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
